body {
    margin:0;
    font-family:Helvetica;
}
.header {
 padding: 40px 0;   
display: flex;
justify-content: space-between;
}
.title {
    font-family: Roboto;
}
.wrapper{
    margin:auto;
    width: 80%;
}
.logo,.menu{
    display: inline-block;
}
.logo {
/*padding: 40px 0;*/
/*font:bold 24px/31px pt_serif, arial, helvetica, sans-serif;*/
width: 190px;
height: 35px;
background: url('img/logo.svg');
}
.menu {
    display:flex;
    align-items: center;
}
.menu__item {
    padding: 0 13px;
}
.menu__item:last-child {
    padding-right: 0px;
}